<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokémania - Detalhes</title>
    <link rel="shortcut icon" type="image/x-icon" href="../statics/uploads/utilidade/ultra-ball.png" />
    <script src="../statics/js/tema.js"></script>
    <link rel="stylesheet" type="text/css" href="../statics/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../statics/css/estilo.css" />
    <link rel="stylesheet" type="text/css" href="../statics/css/pokedex.css" />
  </head>
  <body>
    <div id="site-header"></div>
    <main>
      <div class="detalhes-pagina">
        <a href="pokedex.html" class="btn-voltar">Voltar para a Khosōdex</a>
        <div id="detalhes-view"><!-- Conteúdo gerado pelo JS --></div>
      </div>
    </main>
    <script src="../statics/js/elementos.js"></script>
    <script src="../statics/js/catalogo.js"></script>
    <script src="../statics/js/menu.js"></script>
    <script src="../statics/js/detalhes.js"></script>
  </body>
</html>
