<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokémania - Elementos</title>
    <link rel="shortcut icon" type="image/x-icon" href="../statics/uploads/utilidade/ultra-ball.png" />
    <script src="../statics/js/tema.js"></script>
    <link rel="stylesheet" type="text/css" href="../statics/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../statics/css/estilo.css" />
    <link rel="stylesheet" type="text/css" href="../statics/css/elementos.css" />
  </head>
  <body>
    <div id="site-header"></div>
    <main>
      <div class="pokedex-container">
        <h1>ELEMENTOS</h1>
        <p class="page-intro" style="margin-bottom: 28px">
          Como cada elemento se comporta em combate: o que ele domina, o que o resiste
          e o que não o afeta. Clique em um elemento para ver os detalhes.
        </p>
        <div id="elementos-view"></div>
      </div>
    </main>

    <script src="../statics/js/elementos.js"></script>
    <script src="../statics/js/catalogo.js"></script>
    <script src="../statics/js/menu.js"></script>
    <script src="../statics/js/tabela.js"></script>
  </body>
</html>
