<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Khosoverso - Social</title>
    <link rel="shortcut icon" type="image/x-icon" href="../statics/uploads/utilidade/khoso-ball.png" />
    <script src="../statics/js/tema.js"></script>
    <link rel="stylesheet" type="text/css" href="../statics/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../statics/css/estilo.css" />
    <link rel="stylesheet" type="text/css" href="../statics/css/social.css" />
  </head>
  <body>
    <div id="site-header"></div>
    <main>
      <div class="khosodex-container">
        <h1>SOCIAL</h1>
        <p class="page-intro" style="margin-bottom: 26px">
          Adivinhe o Khosō do dia. As dicas comparam elemento, raridade, geração e
          velocidade só vale entre os que você já descobriu.
        </p>
        <div id="social-conteudo"></div>
      </div>
    </main>

    <script src="../statics/js/elementos.js"></script>
    <script src="../statics/js/catalogo.js"></script>
    <script src="../statics/js/menu.js"></script>
    <script src="../statics/js/social.js"></script>
  </body>
</html>
